@media screen and (max-width: 10000px){
*{
font: 15px/1.5 Arial;
margin: 0;
padding: 0;
}

/*header*/
.scroll_top{
bottom: 20px;
position: fixed;
right: 25px;
}
.open_menu{
display: none;
}
nav ul{
background: #000000;
border-radius: 25px;
display: flex;
justify-content: space-around;
margin: auto;
text-align: center;
width: 85%;
}
nav ul li{
list-style: none;
}
nav ul li a{
color: #ffffff;
font-size: 25px;
text-decoration: none;
}
nav ul li a:hover{
color: #808080;
}

/*Home*/
.container1{
margin: auto;
width: 85%;
}
.img1{
border-radius: 25px;
display: block;
width: 100%;
}

/*AboutMe*/
hr{
border: 2px solid #000000;
}
.p1{
font-size: 25px;
font-weight: bold;
text-align: center;
}
.p2{
font-size: 15px;
text-align: justify;
}

/*Education*/
.table1{
width: 100%;
}
.td1{
background-color: #f0f0f0;
padding: 5px;
}
.img2{
display: block;
margin: auto;
width: 50%;
}
.p3{
font-size: 20px;
font-weight: bold;
text-align: center;
}
.p4{
font-size: 15px;
text-align: left;
}

/*Projects*/
.img3{
display: block;
margin: auto;
width: 25%;
}

/*Skills and Hobbies*/
.container2{
padding: 0;
}
.container3{
background-color: #ffffff;
border: 4px solid #000000;
border-radius: 25px;
}
.skills{
border-radius: 25px;
color: #ffffff;
padding: 0 5px;
}
.pyt{
width: 65%; 
background-color: #000000;
}
.jav{
width: 60%; 
background-color: #000000;
}
.cpp{
width: 55%; 
background-color: #000000;
}
.c{
width: 50%; 
background-color: #000000;
}
.htm{
width: 60%; 
background-color: #000000;
}
.css{
width: 55%; 
background-color: #000000;
}
.jst{
width: 50%; 
background-color: #000000;
}
.sql{
width: 45%; 
background-color: #000000;
}
.num{
width: 55%; 
background-color: #000000;
}
.pan{
width: 50%; 
background-color: #000000;
}
.sln{
width: 45%; 
background-color: #000000;
}
.git{
width: 40%; 
background-color: #000000;
}

/*Awards and Achievements*/
.p5{
font-size: 15px;
text-align: center;
}

/*Contact*/
.table2{
margin: auto;
width: 110px;
}
.img4{
display: block;
float: left;
margin: auto;
padding: 5px;
width: 25px;
}
}

@media screen and (max-width: 1350px){
.scroll_top{
bottom: 0;
right: 5px;
}
#menu{
left: -75%;
position: fixed;
top: 0;
width: 75%;
}
#menu .open_menu{
display: block;
left: 100%;
padding: 5px;
position: absolute;
}
#menu nav ul{
border-radius: 0px;
flex-direction: column;
height: 100vh;
justify-content: initial;
margin: 0;
position: fixed;
width: 75%;
}
#menu nav ul li{
padding: 5px;
}
#menu.active{
left: 0;
}
.img2{
width: 100%;
}
.img3{
width: 50%;
}
}
