@media screen and (max-width: 10000px){
body{
font: 15px/1.5 Arial;
margin: 0;
padding: 0;
}

.container1{
margin: auto;
width: 85%;
}

/*header*/
nav ul{
background: #000000;
border-radius: 25px;
display: flex;
font-size: 21.25px;
justify-content: space-around;
margin: 0;
padding: 0;
transition: 0.25s;
}
nav ul li{
list-style: none;
}
nav ul li a{
color: #ffffff;
text-decoration: none;
}
nav ul li a:hover{
color: #808080;
}
.res{
display: none;
}

/*Home*/
.img1{
border-radius: 25px;
display: block;
width: 100%;
}

/*AboutMe*/
hr{
border: 2px solid #000000;
margin: 0;
}
h1{
margin: 0;
text-align: center;
}
.p1{
margin: 0;
text-align: justify;
}

/*Education*/
.table1{
width: 100%;
}
.td1{
background-color: #f0f0f0;
border-bottom: 22.5px solid #ffffff;
margin: 0;
padding: 1%;
}
.p2{
font-size: 17.5px;
margin: 0;
text-align: center;
}
.p3{
margin: 0;
}
.img2{
display: block;
margin: auto;
width: 50%;
}

/*Skills*/
.container2{
background-color: #f0f0f0;
padding: 2%;
}
.container3{
background-color: #ffffff;
border: 4px solid #000000;
border-radius: 25px;
}
.skills{
border-radius: 25px;
color: #ffffff;
padding-left: 2%;
}
.c{
width: 75%; 
background-color: #000000;
}
.cpp{
width: 75%; 
background-color: #000000;
}
.java{
width: 80%; 
background-color: #000000;
}
.pyth{
width: 70%; 
background-color: #000000;
}
.html{
width: 75%; 
background-color: #000000;
}
.css{
width: 70%; 
background-color: #000000;
}
.jast{
width: 65%; 
background-color: #000000;
}
.sql{
width: 75%; 
background-color: #000000;
}
.dsaa{
width: 70%; 
background-color: #000000;
}
.mlls{
width: 70%; 
background-color: #000000;
}
.aadt{
width: 70%; 
background-color: #000000;
}
.webd{
width: 75%; 
background-color: #000000;
}
.linux{
width: 65%; 
background-color: #000000;
}
.git{
width: 50%; 
background-color: #000000;
}
.lead{
width: 75%; 
background-color: #000000;
}
.mana{
width: 75%; 
background-color: #000000;
}
.mark{
width: 75%; 
background-color: #000000;
}

/*Contact*/
.table2{
margin: auto;
width: 150px;
}
.td2{
margin: 0;
}
.img3{
display: block;
float: left;
margin: auto;
padding: 1%;
width: 45px;
}
}

@media screen and (max-width: 800px){
.res{
display: block;
padding-left: 1%;
}
nav ul{
border-radius: 0px;
display: none;
flex-direction: column;
}
nav ul li{
padding: 1%;
text-align: center;
}
.active{
display: block;
}
}
